.btnDark {
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  background-color: var(--primaryColor);
  background: linear-gradient(
    90deg,
    var(--secondaryBackgroundColor),
    var(--primaryColor),
    var(--secondaryColor)
  );
  background-position: right;
  background-size: 200% 200%;
  color: var(--primaryBackgroundColor);
  border: none;
  height: min-content;
  min-width: max-content;
  /* position: relative; */
  /* z-index: 100; */
  transition: 0.2s;
}

.btnDark:hover {
  /* background-color: var(--secondaryColor); */
  /* background-position: 50% 50%; */
  background-position: center;
  /* background: var(--secondaryColor); */
}

.btnDark:active {
  box-shadow: 0px 0px 20px -5px var(--primaryColor);
}
