.btnDark {
  border-radius: 10px;
  padding: 8px 16px 8px 16px;
  background-color: var(--primaryColor);
  color: var(--primaryBackgroundColor);
  border: none;
  height: min-content;
  min-width: max-content;
}

.btnDark:hover {
  background-color: var(--secondaryColor);
}

.btnDark:active {
  box-shadow: 0px 0px 20px -5px var(--primaryColor);
}
