.header {
  padding: 1rem;
  background-color: var(--primaryColor);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.position-relative {
  position: relative;
}

.header h1 {
  font-size: 24px;
  color: var(--primaryBackgroundColor);
  position: relative;
}
