.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  padding: 0;
}

.item {
  width: 21%;
  /* margin-left: 2rem; */
  margin-bottom: 2rem;
}
