.description {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
}

.date {
  text-align: right;
  padding-right: 2rem;
  color: #777;
  margin-bottom: 1rem;
}

.album > ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  /* max-width: max-content; */
  /* width: 100%; */
  /* width: max-content; */
  list-style: none;
  padding: 0;
  flex-flow: wrap;
  flex-wrap: wrap;
}

.album > ul > li {
  width: 30%;
  margin-bottom: 2rem;
}
