.albumList {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  /* max-width: max-content; */
  /* width: 100%; */
  /* width: max-content; */
  list-style: none;
  padding: 0;
  flex-flow: wrap;
}

.album {
  width: 30%;
  /* margin-right: 2rem; */
  margin-bottom: 2rem;
}
