.app {
  background-color: var(--background);
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  margin-top: 2rem;
}

.content {
  /* width: 90%; */
  margin-left: 2rem;
}
