.app {
  background-color: var(--background);
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: row;
  align-content: center;
  /* justify-content: center; */
  width: 100%;
  margin-top: 2rem;
}

.content {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.content > div:first-child {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  color: var(--primaryColor);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
